* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(16, 97, 163);
    text-align: center;
    color: white;
    padding: 20px 0px;
}
.lista-cadastro {
    display: flex;
    margin: 20px 0px;
    padding: 0px 20px;
}
.lista-cadastro input[type=text] {
    flex: 1;
}
.lista-produtos-single {
    padding: 10px 0px;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;
}
h3, p {
    flex: 1;
}
h3{
    padding-left: 20px;
}
p {
    text-align: right;
    padding-right: 20px;
}
p span {
    background-color: rgb(16, 97, 163);
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
}
.soma-produto{
    margin: 20px;
}